<div>
  <div class="page-header pt-3">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2"
    >
      <h2>Users</h2>
      <div class="btn-toolbar mb-md-0">
        <div class="btn-group mr-2">
          <a role="button" class="btn btn-outline-secondary my-1" href="/admin/users/add"
            >Add New</a
          >
        </div>
        <form action="" post="get" class="d-flex flex-row align-items-center flex-wrap mr-2">
          <input
            class="form-control my-1 w-auto"
            name="searchEmail"
            type="email"
            value="<%= searchEmail %>"
            placeholder="Search"
            aria-label="Search"
          />
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <hr />
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Roles</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(usr, i){ %>
      <tr>
        <th scope="row"><%= i+1 %></th>
        <td><%= usr.name %></td>
        <td><%= usr.email %></td>
        <td>
          <%= usr.roles.join([separator = ', ']).toLowerCase().split(' ') .map((word) =>
          word.charAt(0).toUpperCase() + word.slice(1)).join(' ') %>
        </td>
        <td>
          <a href="/admin/users/<%= usr.id %>/edit">Edit</a>
          <% if(user.id != usr.id) { %>
          <a href="/admin/users/<%= usr.id %>/delete">Delete</a>
          <% } %>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
