<!-- ======= #main ======= -->
<main id="main">
  <!-- ======= Hero Slider Section ======= -->
  <section id="hero-slider" class="hero-slider">
    <div class="container-md" data-aos="fade-in">
      <div class="row">
        <div class="col-12">
          <div class="swiper sliderFeaturedPosts">
            <div class="swiper-wrapper">
              <% postsTop10.forEach(function(post, i){ %>
              <div class="swiper-slide">
                <a
                  href="/posts/<%= post.slug %>"
                  class="img-bg d-flex align-items-end"
                  style="background-image: url('/posts/<%= post.slug %>/feature-image')"
                >
                  <div class="img-bg-inner">
                    <h2><%= post.title %></h2>
                    <p><%= `${post.body.slice(0, 250)}` %></p>
                  </div>
                </a>
              </div>
              <% }); %>
            </div>
            <div class="custom-swiper-button-next">
              <span class="bi-chevron-right"></span>
            </div>
            <div class="custom-swiper-button-prev">
              <span class="bi-chevron-left"></span>
            </div>

            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Slider Section -->

  <!-- ======= Post Grid Section ======= -->
  <section id="posts" class="posts">
    <div class="container" data-aos="fade-up">
      <div class="row g-5">
        <div class="col-lg-4">
          <% if(featurePost) { %>
          <div class="post-entry-1 lg">
            <a href="/posts/<%= featurePost.slug %>"
              ><img src="/posts/<%= featurePost.slug %>/feature-image" alt="" class="img-fluid"
            /></a>
            <div class="post-meta">
              <% if(featurePost.categories.length > 0) { %>
              <span class="date"><%= featurePost.categories[0] %></span>
              <% } %>
              <span class="mx-1">&bullet;</span>
              <span><%= moment(featurePost.publishedDate).format("MMM Do 'YY"); %></span>
            </div>
            <h2>
              <a href="/posts/<%= featurePost.slug %>"><%= featurePost.title %></a>
            </h2>
            <p class="mb-4 d-block"><%= `${featurePost.body.slice(0, 250)}…` %></p>

            <div class="d-flex align-items-center author">
              <div class="photo">
                <img
                  src="/users/<%= featurePost.author.id %>/avatartn"
                  alt="author avatar"
                  class="img-fluid"
                />
              </div>
              <div class="name">
                <h3 class="m-0 p-0"><%= featurePost.author.name %></h3>
              </div>
            </div>
          </div>
          <% } %>
        </div>

        <div class="col-lg-8">
          <div class="row g-5">
            <div class="col-lg-4 border-start custom-border">
              <% firstHalfPosts.forEach(function(post, i){ %>
              <div class="post-entry-1">
                <a href="/posts/<%= post.slug %>"
                  ><img src="/posts/<%= post.slug %>/feature-image" alt="" class="img-fluid"
                /></a>
                <div class="post-meta">
                  <% if(post.categories.length > 0) { %>
                  <span class="date"><%= post.categories[0] %></span>
                  <% } %> <span class="mx-1">&bullet;</span>
                  <span><%= moment(post.publishedDate).format("MMM Do 'YY"); %></span>
                </div>
                <h2>
                  <a href="/posts/<%= post.slug %>"><%= post.title %></a>
                </h2>
              </div>
              <% }); %>
            </div>
            <div class="col-lg-4 border-start custom-border">
              <% secondHalfPosts.forEach(function(post, i){ %>
              <div class="post-entry-1">
                <a href="/posts/<%= post.slug %>"
                  ><img src="/posts/<%= post.slug %>/feature-image" alt="" class="img-fluid"
                /></a>
                <div class="post-meta">
                  <% if(post.categories.length > 0) { %>
                  <span class="date"><%= post.categories[0] %></span>
                  <% } %> <span class="mx-1">&bullet;</span>
                  <span><%= moment(post.publishedDate).format("MMM Do 'YY"); %></span>
                </div>
                <h2>
                  <a href="/posts/<%= post.slug %>"><%= post.title %></a>
                </h2>
              </div>
              <% }); %>
            </div>

            <!-- Trending Section -->
            <div class="col-lg-4">
              <div class="trending">
                <h3>Trending</h3>
                <ul class="trending-post">
                  <% postsTop10.forEach(function(post, i){ %>
                  <li>
                    <a href="/posts/<%= post.slug %>">
                      <span class="number"><%= i+1 %></span>
                      <h3><%= post.title %></h3>
                      <span class="author"><%= post.author.name %></span>
                    </a>
                  </li>
                  <% }); %>
                </ul>
              </div>
            </div>
            <!-- End Trending Section -->
          </div>
        </div>
      </div>
      <!-- End .row -->
    </div>
  </section>
  <!-- End Post Grid Section -->
</main>
<!-- End #main -->
